* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
  color: #f5f9fe;
  font-size: 14px;
  font-weight: 400;
}

.btnBuyProduct {
  background: #f5f9fe;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 1.1rem;
  color: #ef4b4b;
  box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  transition: 0.5s;
}
.btnBuyProduct:hover {
  box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
}

.card__product {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  background-color: #f5f9fe;
  border: none;
  padding: 30px;
  margin-bottom: 30px;
}
.card__product img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}
.card__product .card__product__title {
  font-size: 20px;
  font-weight: 700;
  color: #ef4b4b;
}
.card__product .card__product__text {
  font-size: 14px;
  font-weight: 14px;
  color: #ef4b4b;
}
.card__product .card__products__rating {
  color: #f9d412;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card__body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

header {
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px #ea7979;
  z-index: 10;
  position: fixed;
  width: 100%;
}
header .navbar-brand {
  color: #ef4b4b;
  font-size: 1.8rem;
  font-weight: 700;
}
header .nav-link {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ef4b4b;
  font-size: 1.1rem;
  font-weight: 600;
}
header .nav-link span,
header i {
  color: #ef4b4b;
  font-size: 1.1rem;
  font-weight: 400;
}
header .nav-link span {
  color: #f5f9fe;
  font-size: 13px;
  position: absolute;
  top: 5px;
  left: 28px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: #ef4b4b;
  text-align: center;
}
header .fa-bars {
  font-size: 1.8rem;
}

.phone-carousel {
  background-size: cover;
  background-position: center bottom;
  padding: 100px 0;
}
.phone-carousel h1 {
  font-size: 70px;
  font-size: 700;
  color: #ef4b4b;
}
.phone-carousel h3 {
  font-weight: 1.6rem;
  font-size: 600;
  color: #1d365e;
}
.phone-carousel p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #656774;
  margin-bottom: 25px;
}
.phone-carousel .btnPhone-white {
  background: transparent;
  padding: 13.5px 44px;
  border: 2px solid #ef4b4b;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 600;
  color: #ef4b4b;
  box-shadow: 0 3px 6px #c9d8f4;
  transition: 0.5s;
}
.phone-carousel .btnPhone-orange {
  background: linear-gradient(120deg, #f06464, #ef4b4b);
  padding: 15.5px 46px;
  border: none;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
}
.phone-carousel .btnPhone-orange:hover {
  opacity: 0.75;
}
.phone-carousel img {
  vertical-align: middle;
  border-style: none;
}
.phone-carousel .img-fluid {
  max-width: 100%;
  height: auto;
}

.footer {
  height: 100px;
  background-color: #f4f4f4;
}
.footer .nav-item a {
  font-size: 1.1rem;
  font-weight: 400;
  color: #ef4b4b;
}

.section {
  padding: 100px 0;
}
.section .title {
  margin-bottom: 70px;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  color: #ef4b4b;
  letter-spacing: 0.015rem;
}

.cart {
  padding: 70px 0;
  color: black;
  border: 1px solid #ddd;
  box-shadow: 2px 4px 2px #ddd;
}
.cart h2 {
  margin-left: 20px;
}
.cart .cart__item tbody {
  border-bottom: 1px solid #ddd;
}
.cart .cart__item tbody .img {
  width: 100px;
  height: 100px;
}
.cart .cart__item tbody .img img {
  width: 100%;
}
.cart .cart__item tbody .name {
  flex: 3;
}
.cart .cart__item tbody .img,
.cart .cart__item tbody .price,
.cart .cart__item tbody .quantyti,
.cart .cart__item tbody .totle,
.cart .cart__item tbody .delete {
  flex: 1;
  margin-left: 20px;
}
.cart .cart__item tbody .quantyti {
  padding: 5px;
}
.cart .cart__item tbody .delete i {
  font-size: 20px;
}
.cart .cart__item tbody .delete i:hover {
  color: #ef4b4b;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */